.App {
    font-family: sans-serif;
    text-align: center;
  }
  .container {
    padding: 20px;
    margin: auto;
    width: 1000px;
    
    display: flex;
    flex-wrap: wrap;
  }
  .bloc {
    width: 10px;
    height: 10px;
    border: 1px solid lightslategray;
    box-sizing: border-box;
  }
  .bloc:hover {
    background-color: red;
  }
.ColorContainer {
    position: fixed;
    top: 15%;
    left: 5%;
}  